{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <form method="POST" action="" class="mx-auto w-50">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                <div>
                    {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.location_country.label(class="form-control-label") }}
                <div>
                    {% if form.location_country.errors %}
                    {{ form.location_country(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location_country.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.location_country(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.location_province.label(class="form-control-label") }}
                <div>
                    {% if form.location_province.errors %}
                    {{ form.location_province(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location_province.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.location_province(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.location_city.label(class="form-control-label") }}
                <div>
                    {% if form.location_city.errors %}
                    {{ form.location_city(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location_city.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.location_city(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                <div>
                    {% if form.address.errors %}
                    {{ form.address(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.address(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.bio.label(class="form-control-label") }}
                <div>
                    {% if form.bio.errors %}
                    {{ form.bio(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.bio.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.bio(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group" id="dynamic_links">
                {{ form.links.label(class="form-control-label") }}
                <button id="add_link" class="btn btn-secondary btn-sm">Add link</button>
                {% for link in form.links %}
                {{ link.hidden_tag() }}
                <div class="mb-2" data-index="{{ loop.index0 }}">
                    {% if link.link.errors %}
                    {{ link.link(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in link.link.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ link.link(class="form-control") }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.licenses.label(class="form-control-label") }}
                <div>
                    {% if form.licenses.errors %}
                    {{ form.licenses(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.licenses.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.licenses(class="form-control") }}
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                {{ form.company_type.label(class="form-control-label") }}
                <div>
                    {% if form.company_type.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.company_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for choice in form.company_type %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                <div>
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.phone.label(class="form-control-label") }}
                <div>
                    {% if form.phone.errors %}
                    {{ form.phone(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                        <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                    {% else %}
                    {{ form.phone(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                <div>
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                <div>
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control")}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </fieldset>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById('add_link').addEventListener('click', function (e) {
            e.preventDefault();
            var newLink = document.createElement('div');
            var csrfToken = document.querySelector('input[name="csrf_token"]').value;

            newLink.innerHTML = `
<input type="hidden" name="links-__index__-csrf_token" value="${csrfToken}">
<input type="text" name="links-__index__-link" id="links-__index__-link" class="form-control mt-2">
`;
            newLink.innerHTML = newLink.innerHTML.replace(/__index__/g, document.querySelectorAll('#dynamic_links div').length);

            document.getElementById('dynamic_links').appendChild(newLink);
        });
    });

</script>

{% endblock content %}